<!DOCTYPE html>

<html>

<body>
    {{>header}}

    <div>
        <p> Example donation form. Do not use an actual card number. (duh)</p>

        <p> Thank you for donating to Best Community Services! Enter your desired amount and payment method,
            and we will process your donation.</p>
    </div>
    <div>
        <form action="/donation" method="post" enctype="multipart/form-data">
            {{>paymentcard}}<br>
            <label for="amount">Donation Amount:</label>
            <input type="number" id="amount" required="required" name="amount"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>

    {{message}}

    {{footer}}
</body>
</html>