<!DOCTYPE html>

<html>

<body>
    {{>header}}

    <div>

        <p> Example page for ordering home care through Best Community Services</p>
    </div>
    <div>
        <form action="/homecare" method="post" enctype="multipart/form-data">

            <p>Select a provider:</p>
            <input type="radio" id="p1" name="provider" value="Best Home Care Professionals" required>
            <label for="p1">Best Home Care Professionals</label><br>
            <input type="radio" id="p2" name="provider" value="Professional Home Care Services" required>
            <label for="p2">Professional Home Care Services</label><br>
            <input type="radio" id="p3" name="provider" value="Quality Home Care Professionals" required>
            <label for="p3">Quality Home Care Professionals</label><br>
            <input type="radio" id="p3" name="provider" value="A Funny Company Name" required>
            <label for="p3">A Funny Company Name</label><br><br>

            {{>email}}

            <input type="submit" value="Submit">
        </form>
    </div>

    {{>footer}}
</body>
</html>