<!DOCTYPE html>

<html>

<head>

</head>

<body>
    {{>header}}

    <div>
        <p>Welcome to the Best Community Services Prototype website!</p>

        <p>Use the navigation bar to try out the different use cases. Nothing is wired up to actual storage, databases, or even sophisticated handling.</p>

        <p>Enjoy the demo!</p>
    </div>

    {{>footer}}
<body>

</html>