<!DOCTYPE html>

<html>

<body>
    {{>header}}

        <p>Example shuttle service ordering form. Provide an origin address, a destination address, a pickup time, and payment method.</p>

    <div>
        <form action="/shuttle" method="post" enctype="multipart/form-data">

            <label for="orig">Pickup Address:</label>
            <input type="text" id="orig" name="orig" required><br>

            <label for="dest">Destination Address:</label>
            <input type="text" id="dest" name="dest" required><br>

            {{>date}}<br>

            <label for="pickupTime">Select a pickup time:</label>
            <input type="time" id="pickupTime" name="time" required><br>

            {{>paymentcard}}<br>

            <br><input type="submit" value="Submit">
        </form>
    </div>

    {{>footer}}
</body>
</html>