<h1>Best Community Services</h1>

<div class="header">
    <p>
        <a href="/space">Book Space</a> |
        <a href="/equipment">Rent Equipment</a> |
        <a href="/catering">Catering</a> |
        <a href="/homecare">Home Care</a> |
        <a href="/shuttle">Shuttle Services</a> |
        <a href="/class">Classes</a> |
        <a href="/volunteer">Volunteer Sign Up</a> |
        <a href="/donation">Donations</a>
    </p>
</div>

<h2>{{title}}</h2>