<h1>Best Community Services</h1>

<div class="header">
    <p>
        <a href="/space">Book Space</a> |
        <a href="/">Rent Equipment</a> |
        <a href="/">Catering</a> |
        <a href="/">Home Care</a> |
        <a href="/">Shuttle Services</a> |
        <a href="/">Classes</a> |
        <a href="/">Volunteer Sign Up</a> |
        <a href="/">Donations</a>
    </p>
</div>

<h2>{{title}}</h2>